.form-section-wrap {
    background-color: #fcfcfc;
    border: solid 1px #000000;
    width: 600px;
    margin: auto;
    padding: 20px;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
    padding: 0;
}

.form-section {
    text-align: center;
    margin: auto;
    width: 400px;
}

.form-section input {
    margin-bottom: 10px;
    width: 100%;
}

button {
    display: block;
    margin: auto;
}

textarea {
    width: 200px;
    height: 100px;
}